.container{      
    display: flex;    
    flex-direction: column;   
    margin: auto; 
    height:900px;
    width:900px;
}

.row {        
    display: flex;    
    flex: 1;     
    flex-direction: row;
  }
  
.column {            
    display: flex;
    flex: 1;    
    border: 0.01px solid black;
  }



  