.container{      
    display: flex;    
    flex-direction: column;   
    margin: auto; 
    height:500px;
    width:500px;
}

.row {        
    display: flex;    
    flex: 1;     
    flex-direction: row;
  }
  
.column {            
    display: flex;
    flex: 1;    
    border: 0.1px solid black;
  }



  